<% @stories.each do |story| %>
<ul>
  <li>
  <% if story.user.image.present?%>
    <%= image_tag (story.user.image.url), size: "50x50" %>
  <% else %>
    <%= image_tag 'default.jpeg', size: "50x50" %>
  <% end %>
  </li>
  <li>user: <%= story.user.name %></li>
  <li>content: <%= story.content %></li>
  <% if story.image.present? %>
    <li><%= image_tag(story.image.url) %></li>
  <% end %>
  <li><%= link_to '詳細画面', story_path(story.id) %></li>
</ul>
<% end %>
