<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script>
  $(function(){
    $(".alert").fadeOut(1500);
  });
  </script>

  <body>
    <div class="container">
      <header class="header">
        <!-- <div class="center-block"> -->
          <%= image_tag 'logo_image.png', class: 'logo_image center-block' %>
        <!-- </div> -->
      </header>
      <header class="header">
          <%= link_to image_tag('logo_image.png', class: 'logo_image center-block'), stories_path %>
      </header>
      <header class="header">
        <div class="center-block">
          <%= link_to image_tag('logo_image.png', class: 'logo_image'), stories_path %>
        </div>
      </header>

    <% flash.each do|key,value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to current_user.name, user_path(current_user.id) %>
      <%= link_to "投稿一覧",stories_path %>
      <%= link_to "新規投稿", new_story_path%>
      <%= link_to "ユーザ一覧", users_path %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>

    <% else %>
      <%= link_to "ユーザ登録", new_user_path %>
      <%= link_to "ログイン", new_session_path %>
    <% end %>
    <br>
    <%= yield %>
  </body>
</html>
